*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width:100vw; 
    margin:0;
    flex-direction: column;
    background-color: #141D2F;
    font-family: "Space Mono", sans-serif;
    color: #FFFFFF;
}

.body-con{
    height: 90vh;
    width:100vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.top-text{
    font-size: 0.6em;
    width: 100vw;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 15px 0px 15px;
    
}
.app-tittle{
    font-size: 26px;
}
.color-mode{
    font-size: 13px;
}

/* Search container */

.search-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1E2A47;
    padding: 0.5em;
    border-radius:1rem;
    min-height: 2em;
    min-width: 327px;
    margin-bottom: 15px;
}
.search-data{
    padding:1em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    
}
input::placeholder{
    color: white;
}


.search-button{
    
    
    background-color: #0079FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em 0.6em;
    
    
    
}
.searchicon{
   height: 30px;
   width: 30px;
   margin-right: 1em;
   margin-left: 0.5em;
   }

/* Main container sectie */

.main-container{
    background-color: #1E2A47;
    margin-top: -30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
/* Profile banner data USERNAME PROFILE-PIC */
.profile-data-con{

display: flex;
flex-direction: row;
margin-right: 5em;
margin-top: 2em;
margin-bottom: 20px;


}
.profile-pic{
    display: flex;
    margin-left: 1em;
}
.profile-picture{
    width: 70px;
    height: 70px;
    margin-right: 1.2em;
    margin-left: 1.5em;
    
}
.profile-data{
    display: flex;
    flex-direction: column;
    margin-top: 0.2em;
}
.date-joined{
    font-size: 13px;
    font-weight: lighter;
    min-width: 120px;
}
.username-link{
    font-size: 13px;
    color: #0079FF;
}
.username{
    font-size: 16px;
}

/* user bio description */
.user-bio{
    margin: 1em 1em 2em 2em;
    font-size: 13px;
    font-weight: 10;
    max-width: 279px;
}

/* repo/followers/following container etc */
.user-data-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 279px;
    min-height: 85px;
    background-color: #141D2F;
    margin: 0.5em;
    padding: 2em 4em ;
    border-radius: 10px;
    
}
.text-box{
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bold-text{
font-size: 16px;
font-weight: bold;

}

/* contact data and icons */
.icon-data-main-con{
    min-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5em;
    margin-top: 20px;

}

.icon-data-con{
    display: flex;
    flex-direction: row;
    margin:0.5em;
    margin-left: 1.2em;

    
}
.svg{
    margin-right: 1em;
}
.contact-link-icon{
    font-size: 13px;
}
/* MOBILE RESPONSIVE */
@media only screen and (max-width: 500px) {


.main-container{
    max-width: 327px;
    min-height: 517px;
     }
 


     
 }


